<!-- directives: structural -->
<!--   - ngIf, ngFor, ngSwitch -->
<!--  structural directives control adding/removing whole elements
      from the page. -->

<!-- attribute directives
       do not add/remove elements, only modify their attributes -->
  <!-- eg: ngStyle, ngClass -->

  <!-- the element with ngIf on it is rmeoved form the DOM if the condition is false. -->

  <!-- event binding - with parentheses.  -->
<div *ngIf="card" (click)="drawNewCard()">
  <img src="{{card.image}}">
  <!--<img [src]="card.image">  the same thing, but with property binding. -->
</div>
<div *ngIf="!card">
  no card
</div>
